{% extends "base.html"%} {% block content %}
<div class="m-2">
    <div class="card">
        <section class="font font-bbcnassim-all" style=" text-align: right; ">
            <div class="card-header p-b-0">
                <section class="font font-bbcnassim-eot" style="text-align: right;">
                    <h5 class="bold">مدیریت شیفت های آتی <i class="far fa-calendar-alt"></i></h5>
                </section>
            </div>
            <div class="card-block">
                <div class="m-2">
                    <article>
                        <div class="m-3">
                            <section class="font font-bbcnassim-eot" style=" direction: rtl; text-align: right;">

                                {%if messages %}
                                <section class="font font-bbcnassim-all" style=" text-align: right; ">{%for message in messages%}
                                    <div class="alert alert-info alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}}
                                    </div>
                                    {% endfor %} </section>{% endif %}
                                <a href="/shifts/create"><button class="btn btn-info"><div class="bold"> ایجاد شیفت </div></button></a>
                                <hr>
                                <table class="table table-bordered table-hover table-light">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ردیف</th>
                                            <th>دکتر شیفت</th>
                                            <th>تاریخ و زمان شروع</th>
                                            <th>مکان معاینه</th>
                                            <th>هزینه ویزیت</th>
                                            <th>حداکثر تعداد بیمار</th>
                                            <th>مشاهده</th>
                                            <th>ویرایش</th>
                                            <th>حذف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shift in shifts %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{shift.doctor}}</td>
                                            <td>{{ shift.start_date|date:"M d Y" }} / {{ shift.start_date|date:"G" }}:{{ shift.start_date|date:"i" }}</td>
                                            <td>{{shift.room}}</td>
                                            <td>{{shift.cash}}</td>
                                            <td>{{shift.max_count}}</td>
                                            
                                            <td><a href="{{shift.get_url}}detail"><button class="btn btn-primary" ><div class="bold">مشاهده</div></button></a></td>
                                            <td><a href="{{shift.get_url}}edit"><button class="btn btn-success"><div class="bold">ویرایش</div></button></a></td>
                                            <td><a href="{{shift.get_url}}delete"><button class="btn btn-danger" onclick="return confirm('برای حذف شیفت مطمئن هستید؟');"><div class="bold">حذف</div></button></a></td>
                               
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>

{%endblock%}