{% extends "base.html"%} {% block content %}
<div class="m-2">
    {%if messages %}
    <section class="font font-bbcnassim-all" style=" text-align: right; ">{%for message in messages%}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}}
        </div>
        {% endfor %} </section>{% endif %}

    <div class="card">
        <section class="font font-bbcnassim-all" style=" text-align: right; ">
            <div class="card-header p-b-0">
                <section class="font font-bbcnassim-eot" style="text-align: right;">
                    <h5 class="bold">مشاهده لیست پزشکان و دریافت نوبت <i class="fa fa-user-md"></i></h5>
                </section>
            </div>
            <div class="card-block">
                <div class="m-2">
                    <article>
                        <div class="m-3">
                            <section class="font font-bbcnassim-eot" style=" direction: rtl; text-align: right;">

                                <table class="table table-bordered table-hover table-light">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ردیف</th>
                                            <th>نام پزشک</th>
                                            <th>تاریخ ویزیت</th>
                                            <th>ساعت ویزیت</th>
                                            <th>اتاق ویزیت</th>
                                            <th>هزینه ویزیت</th>
                                            <th>دریافت نوبت</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for mode,shift in shifts %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{shift.doctor}}</td>
                                            <td>{{shift.start_date.date}}</td>
                                            <td>{{shift.start_date.time}}</td>
                                            <td>{{shift.room}}</td>
                                            <td>{{shift.cash}}</td>
                                            {% if mode %}
                                            <td><a href="#"><button class="btn btn-info" disabled >ثبت شده</button></a></td>
                                            {% else %}
                                            <td><a href="{{shift.get_url}}set-turn"><button class="btn btn-success">دریافت نوبت</button></a></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>

{%endblock%}